#chat {
    height: 500px;
    width: 1000px;
    overflow: auto;
    font-size: 16px;
  }

  .container > .jumbotron {
    max-height: 100px;
    background-color: transparent;


    padding: 1.5% 1% 5% 1%;
  }

  .content {
    box-sizing: border-box;
    overflow: auto;
    height: 85%;
    max-width: 150%;
    margin: 1% 0;
  }

  /* msg */

  .msg {
    padding: 1%;
    margin: 1%;
    border: 1px solid var(--blue);
    border-radius: 3px;
    color: var(--dark);
    width: fit-content;
    max-width: 50%;
  }

  .msg .head {
    width: 100%;
    color: var(--indigo);
    font-weight: 350;
    font-style: italic;
    font-size: 12px;
  }

  .msg .body {
    margin: 1% 0;
    font-size: 16px;
  }

  .msg .footer {
    color: gray;
    font-size: 12px;
  }
